<!DOCTYPE HTML>
<html lang="en">
<head>
<title>BLOG_IT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'media-queries.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'mediaelementplayer.css' %}"/>
<link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'>
<script src="{% static "jquery-1.7.2.min.js" %}"></script>
<script src="{% static "ddsmoothmenu.js" %}"></script>
<script src="{% static "retina.js" %}"></script>
<script src="{% static "selectnav.js" %}"></script>
<script src="{% static "jquery.masonry.min.js" %}"></script>
<script src="{% static "jquery.fitvids.js" %}"></script>
<script src="{% static "jquery.backstretch.min.js" %}"></script>
<script src="{% static "mediaelement.min.js" %}"></script>
<script src="{% static "mediaelementplayer.min.js" %}"></script>
<script src="{% static "jquery.dcflickr.1.0.js" %}"></script>
<script src="{% static "twitter.min.js" %}"></script>
<script>$.backstretch("{% static "1.jpg" %}");</script>
</head>
<body background="{% static "1.jpg" %}">
<div class="scanlines"></div>
<div class="header-wrapper opacity">
  <div class="header">
    <div class="logo"> <a href="{% url 'index' %}"> <img src="{% static "logo.png" %}" alt=""> </a> </div>
    <div id="menu-wrapper">
      <div id="menu" class="menu">
        <ul id="tiny">
          <li class="active"><a href="{% url 'index' %}">Blog</a></li>
          <li><a href="{% url 'contact'%}">Contact</a></li>
          <li><a href="{% url 'sepost'%}">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper">
  <div class="intro">What is it you plan to do with your one wild and precious life? - Mary Oliver </div>
  <div class="blog-wrap">
    <div class="blog-grid">
      <div class="post format-image box">
        <div class="frame"> <a href="post.html"> <img src="{% static "post1.jpg" %}" alt=""> </a> </div>
        <h2 class="title"><a href="post.html">Morning Glory</a></h2>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.</p>
        <div class="details"> <span class="icon-image"><a href="#">September 26, 2045</a></span> <span class="likes"><a href="#" class="likeThis">44</a></span> <span class="comments"><a href="#">3</a></span> </div>
      </div>
      <div class="post format-quote box">
        <blockquote>Scissors cuts paper, paper covers rock, rock crushes lizard, lizard poisons Spock, Spock smashes scissors, scissors decapitates lizard, lizard eats paper, paper disproves Spock, Spock vaporizes rock, and as it always has, rock crushes scissors.<cite>Sheldon Cooper</cite></blockquote>
        <div class="details"> <span class="icon-quote"><a href="#">September 21, 2045</a></span> <span class="likes"><a href="#" class="likeThis">27</a></span> <span class="comments"><a href="#">4</a></span> </div>
      </div>
      <div class="post format-video box">
        <div class="video frame">
          <iframe src="http://player.vimeo.com/video/40558553?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <h2 class="title"><a href="post.html">Fragments of Iceland</a></h2>
        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
        <div class="details"> <span class="icon-video"><a href="#">September 13, 2045</a></span> <span class="likes"><a href="#" class="likeThis">18</a></span> <span class="comments"><a href="#">1</a></span> </div>
      </div>
      <div class="post format-audio box">
        <div class="audio-wrapper">
          <div class="vinyl">
            <dl>
              <dt class="art"> <img src="{% static "vinyl.png" %}" alt="" class="highlight"> <img src="{% static "artwork.png" %}" alt=""> </dt>
              <dd class="song">
                <div class="icon-song"></div>
                Om Du Möter Varg</dd>
              <dd class="artist">
                <div class="icon-artist"></div>
                Detektivbyrån</dd>
              <dd class="album">
                <div class="icon-album"></div>
                Wermland</dd>
            </dl>
          </div>
          <div class="clear"></div>
          <div class="audio">
            <audio controls="" preload="none" src="http://elemisdesign.com/files/omdumotervarg.mp3"></audio>
          </div>
        </div>
        <p><strong>Detektivbyrån</strong> (&#8220;The Detective Agency&#8221;) was a <a href="#">Swedish</a> <a href="#">electronica</a> and <a href="#">folk music</a> trio from <a href="#">Gothenburg</a>. The group consisted of Anders &#8220;Flanders&#8221; Molin (<a href="#">accordion</a>, <a href="#">music box</a>), Martin &#8220;MacGyver&#8221; Molin (<a href="#">glockenspiel</a>, traktofon, toy <a href="#">piano</a>, <a href="#">Theremin</a>) and Jon Nils Emanuel Ekström <a href="#">drums</a>, <a href="#">sound box</a>, <a href="#">small bells</a>.</p>
        <div class="details"> <span class="icon-audio"><a href="#">September 7, 2045</a></span> <span class="likes"><a href="#" class="likeThis">20</a></span> <span class="comments"><a href="#">1</a></span> </div>
      </div>
      <div class="post format-standard box">
        <h2 class="title"><a href="post.html">The Meridian Sun</a></h2>
        <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies.</p>
        <p>Then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</p>
        <div class="details"> <span class="icon-standard"><a href="#">August 13, 2045</a></span> <span class="likes"><a href="#" class="likeThis">11</a></span> <span class="comments"><a href="#">0</a></span> </div>
      </div>
      <div class="post format-link box">
        <h2 class="title"><a href="#">The Italic Mountains<span class="arrow">&rarr;</span></a></h2>
        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
        <div class="details"> <span class="icon-link"><a href="#">July 13, 2045</a></span> <span class="likes"><a href="#" class="likeThis">10</a></span> <span class="comments"><a href="#">0</a></span> </div>
      </div>
      <div class="post format-chat box">
        <h2 class="title"><a href="post.html">Two Best Friends</a></h2>
        <ul>
          <li><strong>Barney:</strong> Stop pining over Marshall and Lily! Have some self respect. Now put this fiver in your mouth so that stripper with the lazy eye can vacuum it up with&#8230;</li>
          <li><strong>Ted:</strong> Barney! I&#8217;m allowed to miss them alright? They&#8217;re my two best friends.</li>
          <li><strong>Barney:</strong> I&#8217;m your two best friends!</li>
        </ul>
        <div class="details"> <span class="icon-chat"><a href="#">June 13, 2045</a></span> <span class="likes"><a href="#" class="likeThis">5</a></span> <span class="comments"><a href="#">0</a></span> </div>
      </div>
    </div>
  </div>
  <div id="navigation">
    <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
  </div>
</div>
<div class="footer-wrapper">
  <div id="footer" class="four">
    <div id="first" class="widget-area">
      <div class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
        </form>
      </div>
    </div>
    <div id="second" class="widget-area">
      <div id="twitter-2" class="widget widget_twitter">
        <h3 class="widget-title">Facebook</h3>
        <div id="twitter-wrapper">
          <div id="twitter"></div>
          <span class="username"><a href="https://www.facebook.com/settings.imrf.17">&rarr; Abhinav_Chauhan</a></span> </div>
          <br>
          <h3 class="widget-title">Instagram</h3>
          <span class="username"><a href="https://www.instagram.com/tendo_abhi/">&rarr; @tendo_abhi</a></span>
      </div>
    </div>
    <div id="fourth" class="widget-area">
      <div class="widget">
        <h3 class="widget-title">Flickr</h3>
        <ul class="flickr-feed">
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="{% static "scripts.js" %}"></script>
</body>
</html>